head {

    width: 100%;
    height: 800px;
    background-color: antiquewhite;
}

body {
    background: #4FC3F7;
}

.a {
    transition: transform .2s;
}

img:hover {
    transform: scale(0.9);
}

.line {
    height: 6px;
    background-color: burlywood;
    width: 70px;
    margin: 8px auto;

}

img {
    transition: transform .2s;
}

img:hover {
    transform: scale(0.9);
}



#heding {
    position: absolute;
    height: 800px;
    color: antiquewhite;
    width: 100%;
    height: 100%;
    z-index: 9;
}

#food {
    padding: 5px;
    text-align: justify-all;
    font-size: 10px;

}

.links {
    float: right;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    color: salmon;
    text-decoration: underline;
    font-size: 20px;
}
